.innerContainer {
    max-width: 46rem;
    padding: 0 1rem;
    margin: 1rem auto 3rem;
  }
  
  .header {
    display: flex;
    flex-direction: column;
  }
  
  .headerImage {
    width: 100%;
    height: 100%;
  }
  
  .headerHomeImage {
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  
  .backToHome {
    margin: 3rem 0 0;
  }

  .navItem{
    margin: .3rem .3rem;
  }
  