
.coverText{
    margin-top: 3rem;
    text-align: center;
    h4{
        cursor:text;
    }
}

.coverImg{
    text-align: center;
    margin: 1rem auto;
    cursor: pointer;

    img{
        width: 100%;
        height: 100%;
        max-width: 48rem;
        max-height: 48rem;
    }
}

.promoImg{
    text-align: center;
    margin: 1rem auto;
   

    img{
        width: 100%;
        max-width: 48rem;
        cursor: pointer;
    }
}

.promoCTA {
    width: 100px;
    max-width: 100px;
    margin: 0 auto;
}