.centerText{
  text-align: center;
}


.ReactPlayerWrapper {
    background: url('/images/Road2CascadiaCover2.png');
    background-size: cover;
    height:100%;
    max-height: 42rem;
    max-width: 42rem;
    width: 100%;
    margin: 1rem auto;
}
  